*.class

# Package Files #
*.jar
*.war
*.ear
/bin
/.project
/.classpath
/assets/plain-floor.blend1
/assets/plain-floor.blend2
/data/textures/woodfloor.jpg
/assets/hut.blend1
/assets/hut.blend2
/assets/tower.blend1
/assets/tower.blend2
/assets/barbedwire.blend1
/assets/barbedwire.blend2
/assets/wall1.blend1
/assets/wall1.blend2
/assets/itemmesh.blend1
/assets/itemmesh.blend2
/assets/food.blend1
/assets/food.blend2
/assets/guardhouse.blend1
/assets/guardhouse.blend2
/assets/guard.blend1
